<div class="row">
    <div class="col-md-6 offset-md-3 card card-body bg-light">
        @if (ViewBag.Message != null)
        {
            <span class="text-danger">@ViewBag.Message</span>
        }
        <h3>Log in to your account</h3>
        <form method="post" action="/account/login">
            <input type="hidden" name="returnurl" />
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <br />
            <button class="btn btn-primary">Login</button>
        </form>
        <a href="/account/signup">Sign up for a new account</a>
    </div>
</div>